<div class="container central-block">
  <div class="py-3 text-center app-background">
      <div class="container py-1 highlighted-text">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="display-3 mb-1 text-color-p" ng-bind="'CERTIFICATES_SHOP' | translate">Магазин Сертификатов</h1>
                  <p class="lead mb-5 text-color-p" ng-bind="'INTRO_TEXT' | translate">Лучший магазин Сертификатов. Сделай свои мечты реальными!</p>
              </div>
          </div>
      </div>
  
      <div class="container highlighted-text">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="pb-1 text-color-p" ng-bind="'BENEFITS' | translate">Преимущества для вас!</h1>
              </div>
          </div>
          <div class="row">
              <div class="text-right col-md-6">
                  <div class="row my-5">
                      <div class="col-2 order-lg-2 col-2 text-center">
                          <i class="d-block fa fa-columns fa-3x"></i>
                      </div>
                      <div class="col-10 text-lg-right text-left order-lg-1">
                          <h4 class="text-color" ng-bind="'BEST_CERTIFICATES' | translate">Лучшие сертификаты</h4>
                          <p class="text-color" ng-bind="'BEST_CERTIFICATES_TEXT' | translate">Лучшие сертификаты специально для вас</p>
                      </div>
                  </div>
                  <div class="row my-5">
                      <div class="col-2 order-lg-2 col-2 text-center">
                          <i class="d-block fa fa-circle-thin fa-4x"></i>
                      </div>
                      <div class="col-10 text-lg-right text-left order-lg-1">
                          <h4 class="text-color" ng-bind="'CUSTOMIZE_SETTINGS' | translate">Гибкая настройка</h4>
                          <p class="text-color" ng-bind="'CUSTOMIZE_SETTINGS_TEXT' | translate">Найди свой идеальный сертификат</p>
                      </div>
                  </div>
                  <div class="row my-5">
                      <div class="col-2 order-lg-2 col-2 text-center">
                          <i class="d-block fa  fa-comment-o fa-3x"></i>
                      </div>
                      <div class="col-10 text-lg-right text-left order-lg-1">
                          <h4 class="text-color"  ng-bind="'CONNECT' | translate">Всегда доступны</h4>
                          <p class="text-color" ng-bind="'CONNECT_TEXT' | translate">Все сертификаты доступны круглосуточно</p>
                      </div>
                  </div>
              </div>
              <div class="text-left col-md-6">
                  <div class="row my-5">
                      <div class="col-2 text-center">
                          <i class="d-block fa fa-battery-empty fa-3x"></i>
                      </div>
                      <div class="col-10">
                          <h4 class="text-color" ng-bind="'SAVING_ENERGY' | translate">Экономия энергии</h4>
                          <p class="text-color" ng-bind="'SAVING_ENERGY_TEXT' | translate">Купите сертификат в один клик</p>
                      </div>
                  </div>
                  <div class="row my-5">
                      <div class="col-2 text-center">
                          <i class="d-block mx-auto fa  fa-clone fa-3x"></i>
                      </div>
                      <div class="col-10">
                          <h4 class="text-color" ng-bind="'QUANTITY' | translate">Огромный выбор</h4>
                          <p class="text-color" ng-bind="'QUANTITY_TEXT' | translate">Тысячи сертификатов на любой вкус</p>
                      </div>
                  </div>
                  <div class="row my-5">
                      <div class="col-2 text-center">
                          <i class="d-block fa  fa-heart-o fa-3x"></i>
                      </div>
                      <div class="col-10">
                          <h4 class="text-color" ng-bind="'LOVE' | translate">Разделите нашу любовь</h4>
                          <p class="text-color" ng-bind="'LOVE_TEXT' | translate">Все сертификаты сделаны чтобы дарить вам нашу любовь</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>