/* You can add global
 styles to this file, and also import other style files */

 @import "~bootstrap/dist/css/bootstrap.min.css";
 @import "~font-awesome/css/font-awesome.css";
 body{
 background-image: url(https://img5.goodfon.ru/wallpaper/nbig/5/31/birthday-den-rozhdeniia-podarok-desert-keksy-dekor-goluboi-f.jpg);
    min-height: 100%;
    width: 100%;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}