
.full-size{
    height: 100%;
    width: 100%;
}

.central-block{
    margin-top: 70px;
    background-color: #008B8B;
    opacity: 0.9;
    height: 730px;
    border-radius: 15px;
    width: 2900px;
}



.text-color{
    color:azure;
}

.text-color-p{
    color:white;
}
